<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project9vk.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @project9vk.about %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project9vk.date %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @project9vk.attendance %>
</p>

<p>
  <strong>Done:</strong>
  <%= @project9vk.done %>
</p>

<%= link_to 'Edit', edit_project9vk_path(@project9vk) %> |
<%= link_to 'Back', project9vks_path %>
